/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Define CSS for laptops or larger screens */
/*@media (min-width: 768px) {
  .hide-on-mobile {
    display: block; /* Show the components on laptops or larger screens */
  /* }
  .show-on-desktop {
    display: none; /* Hide the components on laptops or larger screens */
  /* } */
/* }  */

/* Define CSS for phones or smaller screens */
/* @media (max-width: 767px) {
  .hide-on-mobile {
    display: none; /* Hide the components on phones or smaller screens */
  /* } */
  /* .show-on-desktop { */
    /* display: block; Show the components on phones or smaller screens */
  /* } */
/* }   */


/* App.css */

.app-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styles for Light mode */
.light-mode {
  background-color: white;
  color: black;
}

/* Styles for Dark mode */
.dark-mode {
  background-color: rgb(31 41 55);
  color: white;
}

/* Styles to hide content on desktop */
@media screen and (min-width: 768px) {
  .hide-on-desktop {
    display: none;

  }
}

/* Styles to hide content on mobile */
@media screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
  
}
/* With these changes, the content should be displayed differently based on the screen size and the mode (light or dark). Content inside the hide-on-desktop class will be visible only on desktop screens, and content inside the hide-on-mobile class will be visible only on mobile screens. The app-container class will adjust the background color and text color based on the mode state. */





